{:pom
 {:group-id "mhuebert"
  :artifact-id "shadow-env"
  :version "0.1.0"
  :name "shadow-env: environment variables with change propagation"}

 :packaging
 {:jar
  {:enabled true
   :remote-repository
   {:id "clojars"
    :url "https://clojars.org/repo"}}}}